.arrowLeft {
  position: absolute;
  left: 10px;
}

.arrowRight {
  position: absolute;
  right: 10px;
}

.slideshow {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 50px;
  justify-content: center;
}

.slider {
  border-radius: 25px;
  width: 100%;
  height: 415px;
  object-fit: cover;
}

.counter {
  position: absolute;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 500;
  color: white;
  bottom: 10px;
}
