.accommodationSheetContainer {
  margin-left: 100px;
  margin-right: 100px;
}

.locationTitle {
  color: #ff6060;
  font-size: 36px;
  font-family: Montserrat;
  font-weight: 500;
  text-align: left;
  margin: 0px;
}

.locationLocation {
  color: black;
  font-weight: 500;
  font-family: Montserrat;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.locationTag {
  background-color: #ff6060;
  min-height: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;

  color: white;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: bold;

  margin-bottom: 24px;
  padding: 0 20px;
}

.locationCollapses {
  display: flex;
  gap: 76px;
  margin-bottom: 25px;
}

.collapseDescription {
  margin-right: 76px;
}

.locationEquipments {
  margin: 5px;
}

.locationTags {
  display: flex;

  gap: 10px;
}

.locationHostName {
  color: #ff6060;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.titleNamePicture {
  display: flex;
  justify-content: space-between;
}

.hostPicture {
  border-radius: 50%;
  overflow: hidden;
  width: 64px;
  display: flex;
  align-items: center;
}

.HostAndPicture {
  display: flex;
}

.hostPictureBox {
  display: flex;
  align-items: center;
}

.accommodationSheetContainer .dropdownWrapper {
  width: 50%;
}

@media (max-width: 767.98px) {
  .accommodationSheetContainer {
    margin-left: 20px;
    margin-right: 20px;
  }
  .accommodationSheetInfos {
    display: flex;
    flex-direction: column;
  }
  .locationTitle {
    font-size: 18px;
  }

  .locationLocation {
    font-size: 14px;
    margin-top: 5px;
  }

  .locationTag {
    min-height: 18px;
    border-radius: 5px;
    font-size: 10px;
    margin-bottom: 24px;
    padding: 0 20px;
  }

  .locationHostName {
    font-size: 12px;
  }
  .locationCollapses {
    display: flex;
    margin-bottom: 0px;
    flex-direction: column;
    gap: 0px;
  }
  .titleNamePicture {
    flex-direction: column;
  }
  .hostPicture {
    width: 32px;
  }
  .accommodationSheetContainer .dropdownWrapper {
    width: 100%;
  }
}
