.banner {
  height: 223px;
  background-color: black;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 53px;
  margin-bottom: 43px;
  border-radius: 25px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bannerTitle {
  color: white;
  font-family: Montserrat;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
